{% extends 'base.html' %}

{% block body %}
    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">
                <image src="{{ product.image_url }}" width="200" ></image>
                 <a href="{% url 'product' product.id %}"> {{ product.name_ru }}</a>
                <div>Компоненты/материалы: <strong>{{product.components}}</strong></div>
                <div> {{ product.description }} </div>
            </li>
        {% endfor %}
    </ul>

    <p class="pt-4">
        Чтобы добавить тип изделия, или изменить описание, пожалуйста, подготовьте Pull Request, либо попросите помощи в <a href="https://t.me/makers_against_covid">ТГ чате</a>.
    </p>
{% endblock %}