{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            <h3>"{{ ticket.get_product_display }}", {{ ticket.amount }} шт.</h3>
            <h4>Город: {{ ticket.get_city_cached_display }}</h4>
            <h4>По адресу: {{ ticket.address }}</h4>
            <h4>Логистика: {{ ticket.get_logistics_display }}</h4>
            <h4>Комментарий: {{ ticket.comment }}</h4>
        </div>
        <div class="col-sm-6">
            <h4>Автор:</h4>
            {% with author=ticket.author %}
                {% include "author_card.html" %}
            {% endwith %}
        </div>
    </div>

    <div class="pt-4">
        {% include "block_updates.html" %}
    </div>

    {%  if request.user.is_authenticated %}
        <form class="mt-4" method="POST" action="" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Оставить комментарий</button>
        </form>
    {% endif %}

{% endblock %}