{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}

    <h1>Заказать изделие</h1>

    {% if not request.user.is_medic_account_full %}
        <div class="alert alert-primary" role="alert">
            Пожалуйста, перед тем, как создавать заявку, полностью заполните свой профиль <a href="{% url 'account_settings' %}">вот тут</a>. Иначе ничего не выйдет. Спасибо!
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <form method="POST" action="" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Создать Заявку</button>
            </form>
        </div>
    </div>
{% endblock %}