{% extends 'base.html' %}

{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block body %}

    <div class="row">

        <div class="col-md-3">
            <form method="GET">
                {% bootstrap_form filter.form %}
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>

            <br><a href="{% url 'request_ticket_create' %}"><button type="button" class="btn btn-primary mt-4">Заказать изделие</button></a>
        </div>

        <div class="col-md-9">
            {% if object_list.count == 0 %}
                Таких заявок нет.
            {% endif %}
            {% render_table table %}
        </div>

    </div>
{% endblock %}