{% extends 'product.html' %}

{% block description %}
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/7ef00e17dab28d4bd0d56348889dc381-full.png" width="400">

Печатать данный переходник необходимо из материала PetG со 100% заполнением без
поддержек с ориентацией резьбовой частью к столу!<br>
Не допускается наличие видимых отверстий на поверхности модели.<br>
При передаче медицинскому специалисту необходимо сообщить, что напечатанная деталь может
иметь микропоры и необходимо после стыковки переходника с маской и фильтром изолировать
места стыка деталей и сам переходник с помощью изоленты или другого не пропускающего
воздух материала!><br>
На данный момент прорабатывается методика герметизации, пост может обновляться.<br>
После печати переходника проверьте внешний и внутренний диаметр меньшей цилиндрической
части. Деталь устанавливается в цилиндрический паз, на фильтре диаметр А равен 22.3 мм,
диаметр В равен 15 мм.

<img src="https://cdn1.imggmi.com/uploads/2020/4/10/8a7b3848aab2912f7b661e894399b08d-full.png" width="400">
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/4064b6f11325c847d7612e7d652fd5bf-full.png" width="400"><br>

Соответственно на переходнике диаметр А’ должен быть меньше диаметра А на фильтре.<br>
Диаметр В’ должен быть больше диаметра В на фильтре.<br>

<img src="https://cdn1.imggmi.com/uploads/2020/4/10/6f7c5060b5e7a9123cfd337e879b17bc-full.png" width="400"><br>

{% endblock %}