{% extends 'product.html' %}

{% block description %}
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/552506c6bb57cbc5300324781706c900-full.png" width="400">
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/aa8be9b57b932ce01452ab0c73e76d41-full.png" width="300"><br>

Деталь переходник с фильтра для аппарата ИВЛ на маску для снорклинга компании SUBEA.<br>
Печатать данный переходник необходимо из материала <strong>PetG со 100% заполнением!</strong><br>
Не допускается наличие видимых отверстий на поверхности модели.<br>
При передаче медицинскому специалисту необходимо сообщить, что напечатанная деталь может
иметь микропоры и необходимо после стыковки переходника с маской и фильтром изолировать
места стыка деталей и сам переходник с помощью изоленты или другого не пропускающего
воздух материала!<br><br>
На данный момент прорабатывается методика герметизации, пост может обновляться.
После печати переходника проверьте внешний и внутренний диаметр меньшей цилиндрической
части. Деталь устанавливается в цилиндрический паз, на фильтре диаметр А равен 22.3 мм,
диаметр В равен 15 мм.<br>
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/7a9ed2f4edb7395e0bb757591b4cc970-full.png" width="400">
<img src="https://cdn1.imggmi.com/uploads/2020/4/10/aab159247ba93d5bc78d7da2d6a84eca-full.png" width="400"><br>

Соответственно на переходнике диаметр А’ должен быть меньше диаметра А на фильтре.<br>
Диаметр В’ должен быть больше диаметра В на фильтре.<br>

<img src="https://cdn1.imggmi.com/uploads/2020/4/10/bc309f1649054103664b7a515e92b390-full.png" width="400"><br>


{% endblock %}