{% extends "base.html" %}

{% load i18n %}

{% block body_class %}account account-delete{% endblock %}

{% block head_title %}{% trans "Удалить аккаунт" %}{% endblock %}

{% block body %}
    <h1>{% trans "Удалить аккаунт" %}</h1>
    
    <p>{% blocktrans %}Если вы удалите свой аккаунт, ваша информация будет <b>удалена в течении {{ ACCOUNT_DELETION_EXPUNGE_HOURS }} часов</b>.{% endblocktrans %}</p>

    <form method="post" action="{% url "account_delete" %}" autocapitalize="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Удалить мой аккаунт" %}</button>
    </form>
    
{% endblock %}
