{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение электронного адреса" %}{% endblock %}

{% block body %}
    <h2>{% trans "Подтверждение электронного адреса" %}</h2>

    <p>{% blocktrans %}Мы отправили письмо-подтверждение на адрес: <b>{{ email }}</b>. Перейдите по ссылке в письме, чтобы завершить регистрацию. Если вы не получите письмо в течении нескольких минут, то свяжитесь с нами: <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    <p><a href="{{ success_url }}">{% trans "Вернуться назад" %}</a></p>
{% endblock %}
