{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Выйти" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="{% url "account_logout" %}">
                <legend>{% trans "Выйти" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% trans "Вы уверены, что хотите выйти?" %}</p>
                    <button type="submit" class="btn btn-primary">{% trans "Выйти" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}