{% extends "base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Ссылка для сброса пароля отправлена" %}{% endblock %}

{% block body %}
    <h1>{% trans "Ссылка для сброса пароля отправлена" %}</h1>
    {% if not resend %}
        <p>{% blocktrans %}Мы отправили вам письмо со ссылкой для сброса пароля. Если вы не получите письмо в течении нескольких минут, попробуйте связаться с нами: <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        
        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="{% url "account_password_reset" %}">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <button type="submit" name="resend" class="btn btn-primary">{% trans "Отправить заново" %}</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>{% blocktrans %}Мы отправили вам письмо со ссылкой для сброса пароля заново. Если вы не получите письмо в течении нескольких минут, попробуйте связаться с нами: <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}