{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="POST" action="">
                <legend>{% trans "Изменить пароль" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit"
                            class="btn btn-primary">{% trans "Сохранить" %}</button>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}