{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% load account_tags %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% user_display request.user as user_display %}

{% block body %}
    <div class="row">
        <div  class="col-md-8">
            <form method="POST" action="">
                <legend>{% trans "Сброс пароля" %}</legend>
                <p class="lead">{% trans "Забыли свой пароль? Введите ваш e-mail адрес ниже и мы вышлем ссылку для его сброса." %}</p>
                <fieldset class="row">
                    <div class="col-md-5">
                        {% csrf_token %}
                        {%  bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">
                            {% trans "Сбросить мой пароль" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <p>{% blocktrans %}Если у вас возникли проблемы со сбросом пароля, свяжитесь с нами: <a href="mailto:{{ THEME_CONTACT_EMAIL }}">{{ THEME_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}