{% extends 'base.html' %}

{% block body %}
    <p>
        Этот сайт — proof of concept системы для организации волонтерской помощи мейкеров в борьбе с COVID-19.
    </p>
    <p>
        <b>Обратите внимание, сайт запущен для демонстрации и проверки концепции. Данные на сайте не актуальны.
            E-mail сервер не подключен.
        База данных будет очищена перед production запуском.</b>
    </p>
    </p>
    <div class="container">
        <div class="row">
            <div class="col-sm">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Если у Вас есть 3D принтер, лазерный резак, швейное производство, материалы:</h5>
                        <p class="card-text">
                            1) Выберите <a href="{% url 'products_list' %}">изделие</a>.<br>
                            2) <a href="produce_ticket_create">Сообщите</a> о планах по его производству.<br>
                            3) Предложите партию тем, кто <a>оставил заявку и еще не получил предложений</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Если у вас есть автомобиль и возможность помочь с логистикой:</h5>
                        <p class="card-text">
                            <a href="{% url 'produce_tickets_list' %}?logistics=need_delivery">Ищите</a>
                            готовые тикеты, оставляйте комментарии, связывайтесь и доставляйте изделия нуждающимся.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Если Вы — медицинский сотрудник, который нуждается в изделиях:</h5>
                        <p class="card-text">
                            1) <a href="{% url 'products_list' %}">Проверьте</a>, что мейкеры могут произвести. <br>
                            2) <a href="{% url 'request_ticket_create' %}">Оставьте</a> заявку на каждый тип изделий.<br>
                            3) <a href="{% url 'produce_tickets_list' %}">Поищите</a>, нет ли готовых изделий.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h3 class="pt-4">Статистика</h3>
    <p>
        <b>Больше всего необходимо:</b><br>
        {% for item in requests_statistics %}
            <a href="{% url 'product' item.id %}"> {{ item.name_ru }}</a>, запросов: {{ item.requests }}, объем: {{ item.items }}<br>
        {% endfor %}<br>
        <b>Производится:</b><br>
        {% for item in produce_statistics %}
            <a href="{% url 'product' item.id %}"> {{ item.name_ru }}</a>, запросов: {{ item.requests }}, объем: {{ item.items }}<br>
        {% endfor %}
    </p>

    <h3>Зачем это нужно?</h3>
    <p>
        Медицинские сотрудники нуждаются в Средствах Индивидуальной Защиты, таких как маски,
        костюмы, экраны. Иногда есть необходимость в запасных частях для медицинских приборов, например, клапанах для ИВЛ.
    </p>
    <p>
        "Мейкеры" — энтузиасты, которые могут произвести такие изделия небольшими партиями.
        Учитывая малый размер партий, большая нагрузка ложится на организаторов и от их эффективности зависит то, попадут ли изделия к тем, кому они действительно нужны.
        Нужно связать тысячи мейкеров и тысячи медицинских сотрудников. Нужна автоматизация чтобы масштабировать инициативу.
    </p>
    <p>
        Система построена на принципе полной прозрачности. Все введенные данные доступны публично — заявки от врачей, результаты печати и адреса.
        Все хотят быть уверены, что результаты волонтерского труда попадут в руки медиков вовремя и будут полезны.
    </p>
    <h3>Помочь сайту</h3>
    <p>
        Приоритет сайта — функционал, по-этому он утилитарен и основан на очень упрощенном стеке — Django, Bootstrap, MySQL.
        Очень надеюсь, что это снизит порог входа и позволит Вам присоединиться к развитию
        <a href="https://github.com/Matvey-Kuk/makers_against_covid">на GitHub</a>.
        Пожалуйста, не усложняйте стек — не добавляйте React, сложную логику итд.
        Через Pull Request можно добавить новые типы изделий, инструкции, города или изменить логику.
        Придерживайтесь Open Source культуры разработки — старайтесь вести обсуждение в Issues, там же сообщать о багах.
    </p>
    Вдохновлен инициативой: <a href="https://makersfordocs.ru/">https://makersfordocs.ru/</a>.<br>
    Чат в TG: <a href="https://t.me/makers_against_covid">@makers_against_covid</a><br><br>
{% endblock %}